USE [ARC_BENCHMARK_DEV]
GO
/****** Object:  StoredProcedure [wrk].[DetectUndiagnosedDiabetics]    Script Date: 1/16/2015 3:56:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--------------------------------------------------------------------------
------------- PREVALENCE OF DIABETICS in BENCHMARK DB --------------------
--------------------------------------------------------------------------
/*------------------------------------------------------------------------------
<SDDX
  NAME = "wrk.DetectUndiagnosedDiabetics"
  DESC = "Detect patients with undiagnosed diabetes"
  NOTE = "--"
  AUTH = "AKumbara, AWerner-Allen"
  LOG  = 2015-1-12 v0.03
		2015-1-14 v0.04 -- Updated the code to include threshold parameters, abnormal flags, and changed the dateorder to partition by numeric_result.                     
  >
</SDDX>
----------------------------------------
-- Testing Code
EXEC wrk.DetectUndiagnosedDiabetics
@dx_start = 2013
@dx_end = 2014
@rx_start = 2000
@rx_end = 2014
@messagelevel = 2
----------------------------------------
DROP   PROCEDURE [wrk].[DetectUndiagnosedDiabetics]
*/------------------------------------------------------------------------------

ALTER PROCEDURE [wrk].[DetectUndiagnosedDiabetics](
@dx_start int 
,@dx_end int 
,@rx_start int 
,@rx_end int 
,@MessageLevel int
)
AS

BEGIN
--======================================
BEGIN TRY
--======================================
----------------------------------------
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED
IF @MessageLevel < 2 SET NOCOUNT ON

----------------------------------------
-- Execution Context Variables
DECLARE @ExecutableFQN VARCHAR(500) = ISNULL(DB_NAME()+'.'+OBJECT_SCHEMA_NAME(@@PROCID)+'.'+OBJECT_NAME(@@PROCID),'Script.ReportPremiumAccuracy') /* SPROC fully qualified name */
DECLARE @ExecStamp VARCHAR(500) = '['+CONVERT(VARCHAR(50),GETDATE(),120)+' '+@ExecutableFQN+'] ' /* Identifies execution context for console messages */
-- Console Message Variables
DECLARE @MessageStamp VARCHAR(50)              /* Timestamp variable */
DECLARE @MessageText VARCHAR(1000)             /* Message text */
-- Error and Return Variables
DECLARE @MaxSQLError INT = 0               /* Max SQL error code generated by SPROC. CATCH blocks should check and set this. */
DECLARE @ReturnCode INT = 0                /* SPROC return code. (0=Success. The meaning of other values is determined by the procedure) */
DECLARE @EndNote VARCHAR(1000) = 'Execution Success' /* Value for @EventNote for logging execution end. Procedure should set this appropriately. */

----------------------------------------
-- Console Message
IF @MessageLevel >= 1 
BEGIN
  SET @MessageStamp = '['+CONVERT(VARCHAR(50),GETDATE(),120)+'] '
  SET @MessageText  = 'BEGIN ========================================'
  PRINT @ExecStamp + @MessageStamp + @MessageText
  RAISERROR('',0,1) WITH NOWAIT
END
-- /Console Message

----------------------------------------
-- MAIN CODE BLOCK *********************
----------------------------------------

----------- Set flag thresholds ---------------
declare @fast_glucose int = 126.13
declare @rand_glucsoe int = 200.00
declare @ketone int = 0.6
declare @a1c int = 6.5

----------- Diabetes ICD9 ---------------
;with problemset as (select tp.context_id, tp.pat_id,tpr.icd9_code
	from t_patient tp
	join t_problem tpr
	on tpr.[icd9_code] in (SELECT [code_value]
	  FROM [ARC_BENCHMARK_DEV].[lookup].[code_categorization]
	  where code_category = 'Diabetes'
	  and code_set = 'icd9')
	AND tpr.patient_id = tp.pat_id
	AND tpr.context_id = tp.context_id
	where 
	tpr.onset_date <= @dx_end and tpr.onset_date >= @dx_start
)

,assessmentset as (select tp.context_id,tp.pat_id,ta.icd9_code
from t_patient tp
join t_assessment ta
on ta.[icd9_code] in (SELECT [code_value]
  FROM [ARC_BENCHMARK_DEV].[lookup].[code_categorization]
  where code_category = 'Diabetes'
  and code_set = 'icd9')
AND ta.patient_id = tp.pat_id
AND ta.context_id = tp.context_id
where 
ta.assessment_date <= @dx_end and ta.assessment_date >= @dx_start
)

,diagset as (select tp.context_id,tp.pat_id,td.diag_icd9code
from t_patient tp
join t_diagnosis td
on td.[diag_icd9code] in (SELECT [code_value]
  FROM [ARC_BENCHMARK_DEV].[lookup].[code_categorization]
  where code_category = 'Diabetes'
  and code_set = 'icd9')
AND td.diag_patient_id = tp.pat_id
AND td.context_id = tp.context_id
where 
td.diag_diagnosis_date <= @dx_end and td.diag_diagnosis_date >= @dx_start
)

,finallist as (
select * from assessmentset asset
union
select * from problemset ps
union
select * from diagset ds
)

----------------- Prediabetics ICD9 ----------------
,PreDproblemset as (
select tp.context_id, tp.pat_id,tpr.icd9_code
from t_patient tp
join t_problem tpr
ON tpr.patient_id = tp.pat_id
AND tpr.context_id = tp.context_id
where 
tpr.onset_date <= @dx_end and tpr.onset_date >= @dx_start AND
(
	tpr.[icd9_code] in (
		SELECT [code_value]
		FROM [ARC_BENCHMARK_DEV].[lookup].[code_categorization]
		where code_category = 'Secondary Diabetes'
		and code_set = 'icd9') 
	OR tpr.[icd9_code] IN ('790.21','790.22','790.29','648.83') 
)
)

,PreDassessmentset as (select tp.context_id,tp.pat_id,ta.icd9_code--,tpr.icd9_code
from t_patient tp
join t_assessment ta
on ta.patient_id = tp.pat_id
AND ta.context_id = tp.context_id
where 
ta.assessment_date <= @dx_end and ta.assessment_date >= @dx_start AND
(
	ta.[icd9_code] in (
		SELECT [code_value]
		FROM [ARC_BENCHMARK_DEV].[lookup].[code_categorization]
		where code_category = 'Secondary Diabetes'
		and code_set = 'icd9') 
	OR ta.[icd9_code] IN ('790.21','790.22','790.29','648.83') 
)
)

, PreDdiagset as (select tp.context_id,tp.pat_id,td.diag_icd9code--,tpr.icd9_code
from t_patient tp
join t_diagnosis td
on td.diag_patient_id = tp.pat_id
AND td.context_id = tp.context_id
where 
td.diag_diagnosis_date <= @dx_end and td.diag_diagnosis_date >= @dx_start AND
(
	td.[diag_icd9code] in (
		SELECT [code_value]
		FROM [ARC_BENCHMARK_DEV].[lookup].[code_categorization]
		where code_category = 'Secondary Diabetes'
		and code_set = 'icd9') 
	OR td.[diag_ICD9Code] IN ('790.21','790.22','790.29','648.83') 
)
)

,PreDfinallist as (
select * from PreDassessmentset asset
union
select * from PreDproblemset ps
union
select * from PreDdiagset ds
)

,FullDiabeticlist as (
select * from finallist fs
UNION 
select * from PreDfinallist pdf
)

------------------ Diabetes medication -----------------
,diabetes_medl as (      
		select tp.context_id as contextid,
		tp.pat_id as patientid,
		medl.ndc_code as medl_ndc
       from t_patient tp
       inner join t_medicationlist medl
       on app.NormalizeNDC(medl.ndc_code) in (
		select ndc from l_rxnorm_dict dict
		inner join l_rxnorm_ndc ndc
		on dict.rxcui = ndc.rxcui
		where standard_concept = 'Medications indicative of diabetes'
		and DerivedInd = 0)
		AND medl.patient_id = tp.pat_id
		AND [start_date] <= @rx_end and [start_date] >= @rx_start
)

,diabetes_med as (      
		select tp.context_id as contextid,
		tp.pat_id as patientid,
		med.med_ndcid as med_ndc
       from t_patient tp
       inner join t_medication med
       on app.NormalizeNDC(med.med_ndcid) in (
		select ndc from l_rxnorm_dict dict
		inner join l_rxnorm_ndc ndc
		on dict.rxcui = ndc.rxcui
		where standard_concept = 'Medications indicative of diabetes'
		and DerivedInd = 0)
		AND med.med_patient_id = tp.pat_id
		AND med_start_date <= @rx_end and med_start_date >= @rx_start
)

,diabetes_rx as (      
		select tp.context_id as contextid,
		tp.pat_id as patientid,
		rx.ndc_code as rx_ndc
       from t_patient tp
       inner join t_prescription rx
       on app.NormalizeNDC(rx.ndc_code) in (
		select ndc from l_rxnorm_dict dict
		inner join l_rxnorm_ndc ndc
		on dict.rxcui = ndc.rxcui
		where standard_concept = 'Medications indicative of diabetes'
		and DerivedInd = 0)
		AND rx.patient_id = tp.pat_id
		AND rx.prescription_date <= @rx_end and rx.prescription_date >= @rx_start
)

,fullmedlist as (
select * from diabetes_medl 
union 
select * from diabetes_med 
union
select * from diabetes_rx 
)

,flist as (
select pat_id as patientid from FullDiabeticlist 
union 
select patientid from fullmedlist 
)

----------------------- LAB RESULTS ------------------------
,GlucPatList as (
select context_id
	,pat_id
	,original_name
	,orig_nameid
	,result_value_numeric
	,collection_date
FROM (
	select tp.context_id
	,tp.pat_id
	,tr.original_name
	,ls.id as orig_nameid
	,tr.result_value_numeric
	,tr.collection_date
	,DateOrder = row_number() over(partition by tr.pat_id, tr.collection_date order by tr.result_value_numeric DESC) 
	from t_patient tp
	join t_result tr
	on tr.collection_date BETWEEN @dx_start and @dx_end
	AND tr.pat_id = tp.pat_id
	AND tr.context_id = tp.context_id
	AND tr.original_name in (
	select [source] from wrk.labtype_seeds) 
	AND tr.result_value_numeric is not null
	AND tr.delete_ind = 'N'
	Left Join wrk.labtype_seeds ls
	on tr.original_name = ls.[source]
	)u
	WHERE dateorder = 1
)

,A1CPatList as (
select context_id
	,pat_id
	,original_name
	,orig_nameid
	,result_value_numeric
	,collection_date
FROM (
	select tp.context_id
	,tp.pat_id
	,tr.original_name
	,tr.original_id as orig_nameid
	,tr.result_value_numeric
	,tr.collection_date
	,DateOrder = row_number() over(partition by tr.pat_id, tr.collection_date order by tr.result_value_numeric DESC) --try ordering by result_value_numeric
	from t_patient tp
	join t_result tr
	on tr.collection_date BETWEEN @dx_start and @dx_end
	AND tr.pat_id = tp.pat_id
	AND tr.context_id = tp.context_id
	AND tr.original_name = 'A1C'
	AND tr.result_value_numeric is not null
	AND tr.delete_ind = 'N'
	)u
	WHERE dateorder = 1
)

,A1CPatList1 as (
select context_id
	,pat_id
	,original_name
	,orig_nameid
	,result_value_numeric
	,collection_date
FROM (
select tp.context_id
	,tp.pat_id
	,tlr.labres_result_type as original_name
	,tlr.labres_original_id as orig_nameid
	,tlr.labres_numeric_result as result_value_numeric
	,tlr.labres_collection_date as collection_date
	,DateOrder = row_number() over(partition by tlr.labres_patient_id, tlr.labres_collection_date order by tlr.labres_numeric_result DESC) 
	from t_patient tp
	join t_labresult tlr
	on tlr.labres_collection_date BETWEEN @dx_start and @dx_end
	AND tlr.labres_patient_id = tp.pat_id
	AND tlr.context_id = tp.context_id
	AND tlr.labres_result_type = 'A1C'
	AND tlr.labres_numeric_result is not null
	AND tlr.labres_delete_ind = 'N'
	)u
	WHERE dateorder = 1
)

,FullLabList as (
select context_id,pat_id,original_name,orig_nameid,result_value_numeric,collection_date from GlucPatList
UNION
select context_id,pat_id,original_name,orig_nameid,result_value_numeric,collection_date from A1CPatList
UNION
select context_id,pat_id,original_name,orig_nameid,result_value_numeric,collection_date from A1CPatList1
)

SELECT fll.context_id
,fll.pat_id
,fll.original_name
,fll.orig_nameid
,fll.result_value_numeric
,fll.collection_date
,Case WHEN fll.orig_nameid = '1' AND fll.result_value_numeric >= @rand_glucsoe THEN 1 ELSE 0 END AS 'Abnormal_rand_glucose'
,Case WHEN fll.orig_nameid = '2' AND fll.result_value_numeric >= @fast_glucose THEN 1 ELSE 0 END AS 'Abnormal_fast_glucose'   --Updated to include orig_nameid-AK 1/14/2015
,Case WHEN fll.orig_nameid = '3' AND fll.result_value_numeric > @ketone THEN 1 ELSE 0 END AS 'Abnormal_Ketone'
,Case WHEN fll.original_name like '%A1C%' AND fll.result_value_numeric > @a1c THEN 1 ELSE 0 END AS 'Abnormal_A1C' --Add another master flag to make search easier.

from FullLabList fll
Where fll.pat_id not in (select patientid from flist)

-----------------------------------------------------
--- Number of Patients Seen within a Particular Year
/*declare @year int = 2014
select pat.context_id, count(distinct pat_id) as patcount 
from t_patient pat
inner join t_encounter enc
on enc.enc_patient_id = pat.pat_id
where enc.enc_timestamp = @year
group by pat.context_id 
order by context_id*/

----------------------------------------
-- MAIN CODE BLOCK *********************
----------------------------------------
--======================================
END TRY
--======================================
BEGIN CATCH
--======================================
SET @MaxSQLError = CASE WHEN @MaxSQLError>ERROR_NUMBER() THEN @MaxSQLError ELSE ERROR_NUMBER() END
SET @ReturnCode = @MaxSQLError
SET @EndNote = 'Execution Failure'
----------------------------------------
-- Console Message
IF @MessageLevel >= 1
BEGIN
  SET @MessageStamp = '['+CONVERT(VARCHAR(50),GETDATE(),120)+'] '
  SET @MessageText  = 
    ISNULL('SQLERROR(' + CONVERT(VARCHAR,ERROR_NUMBER()) + ') ','')
    + ISNULL('Level(' + CONVERT(VARCHAR,ERROR_SEVERITY()) + ') ','')
    + ISNULL('State(' + CONVERT(VARCHAR,ERROR_STATE()) + ') ','')
    + ISNULL('Line(' + CONVERT(VARCHAR,ERROR_LINE()) + ') ','')
    + ISNULL(ERROR_MESSAGE(),'')
  PRINT @ExecStamp + @MessageStamp + @MessageText
  RAISERROR('',0,1) WITH NOWAIT
END
-- /Console Message
----------------------------------------
--======================================
END CATCH
--======================================

----------------------------------------
-- Console Message
IF @MessageLevel >= 1
BEGIN
  SET @MessageStamp = '['+CONVERT(VARCHAR(50),GETDATE(),120)+'] '
  SET @MessageText  = @EndNote+', Max SQLError('+CONVERT(VARCHAR,@MaxSQLError)+')'
  PRINT @ExecStamp + @MessageStamp + @MessageText
  PRINT @ExecStamp + @MessageStamp + 'END ' + '========================================'
  RAISERROR('',0,1) WITH NOWAIT
END
-- /Console Message
----------------------------------------
END
--==============================================================================
RETURN @ReturnCode
